.bg-img1 {
  width: 100%;
  height: 600px;
  background-color: #000;
  background-size: cover;
  background-image: url(./img/bg-img1.jpg);
}
.bg-img2 {
  width: 100%;
  height: 600px;
  background-color: #000;
  background-size: cover;
  background-image: url(./img/bg-img2.jpg);
}
.bg-img3 {
  width: 100%;
  height: 600px;
  background-color: #000;
  background-size: cover;
  background-image: url(./img/bg-img3.jpg);
}

.footer-li {
    list-style: disc;   
}

.back-to-top {
    margin-bottom: 16px;
}